In [1]:
import pandas as pd
import numpy as np

In [13]:
raw_data = {'food_name': ['Apple', 'Chicken', 'Broccoli', 'Chocolat'],'Calories': [95, 231, 50, 549]}
dataset = pd.DataFrame(raw_data)
dataset.head()

  food_name  Calories
0     Apple        95
1   Chicken       231
2  Broccoli        50
3  Chocolat       549

In [14]:
# One-hot encoding


dataset = pd.concat([dataset,pd.get_dummies(dataset['food_name'], prefix='food')],axis=1)
dataset.drop(['food_name'],axis=1, inplace=True)
dataset.head()

   Calories  food_Apple  food_Broccoli  food_Chicken  food_Chocolat
0        95           1              0             0              0
1       231           0              0             1              0
2        50           0              1             0              0
3       549           0              0             0              1